@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200italic,200,600,700); 
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Titillium Web', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
}
body {
}
.txt-blueLigth{
	color: #0f4570;
}
.txt-gray{
	color: #6d6f73;
}
/*HEADER*/
#main-head	{	
	padding-bottom: 5px;
}
#element_main{
	height: 100px;
    position: absolute;
   top:  -10px; 
   left: -250px;
}
#logo_main{
	height: 53px;
	margin: 0px 190px 20px 190px;
	margin: 0 0 0 150px
}
.nav{
	margin-top: 16px;
}
.nav a{
	text-decoration: none;
	color: #42454b;
}
.navbar-toggle, .icon-bar{
	border: 1px solid #939598;
}
.navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #4A494A;
}

/*END HEADER*/
/*HOME*/
#slider-homer{
	height: 436px;
}
.carousel .item{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#184973+13,21639c+62,207cca+100,207cca+100 */
background: #184973; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #184973 13%, #21639c 62%, #207cca 100%, #207cca 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #184973 13%,#21639c 62%,#207cca 100%,#207cca 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #184973 13%,#21639c 62%,#207cca 100%,#207cca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#184973', endColorstr='#207cca',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.screen-home h1{
	font-size: 2em;
	font-weight: 200;
	font-style: italic;
	color: #fff;
}
.box-three{
	text-align: center;
}
.info-home{
	margin-bottom: 3em;
	margin-top: 3em;
}
.servicess-home{
	background-color: #e4e4e4;
	padding-bottom: 1.2em
}
.servicess-home h1{
	text-align: center;
	font-size: 2em;
	margin-bottom: 0.4em;
}
.stick{
	background-color: #e4e4e4;
	height: 10em;
	width: 0.2em;
	margin: 0;
	float: left;
}
.text-boxCenter{
	float: left;
	width: 96%;
}
.icon-servicess{
	height: 195px;
}
.text-infoHome{
	margin-top: 1em;

}
/*END HOME*/
footer{
	background-color: #0e2a41;
	padding-top: 1em;
	padding-bottom:1em;
	text-align: center;
	font-size: 2em;
	color: #fff
}
/*END FOOTER

/*Carousel*/
.carousel {
  height: 436px;
  margin-bottom: 60px;
  width: 100%
}
.carousel-caption {
  padding-bottom: 200px;
  font-size: 24px

}
.slide-wrap h1{
	font-size: 3em;
	margin-top: 1em;
}
.slide-wrap p{
	font-size: 1.3em;
}
.carousel-inner{
	height:100%;
	width: 100%;
}
.btn-carousel{
	background: #297dc1;
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 1em;
    border: 0;
    transition: all 0.3s ease 0s;
}
.btn-carousel:hover {
  opacity: 0.80;
  color: #fff;
  font-size: 20px;
}
.carousel .item {
  height: 550px;
  background-color: #777;
  width: 100%;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide-wrap{
	margin: 5% 10%;
	color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.slide-img img{
	height: 300px
}
/*end carousel*/

/*PRUEBA
/* Effect 6 */
 .hovicon.effect-6 {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 1);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}
.hovicon.effect-6:hover {
    /*background: rgba(255, 255, 255, 1);*/
    background-color: #297dc1;
}

.hovicon.effect-6:hover:before {
    -webkit-animation: spinAround 2s linear infinite;
    -moz-animation: spinAround 2s linear infinite;
    animation: spinAround 2s linear infinite;
}
.hovicon {
    display: inline-block;
    font-size: 45px;
    line-height: 90px;
    cursor: pointer;
    margin: 20px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    color: #fff;
}
/*PRUEBA

