<section class="screen-home">
	<div id="slider-homer">
		<!--div class="container"-->
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
			    <!-- Indicators -->
			    <ol class="carousel-indicators">
			        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			        <li data-target="#myCarousel" data-slide-to="1"></li>
			        <li data-target="#myCarousel" data-slide-to="2"></li>
			    </ol>
		      <!--end indicators-->
		      <!-- inners -->
		      <div class="carousel-inner" role="listbox">
			        <div class="item active">
			          <div class="container">
			          	  <div class="slide-wrap">
					          	<div class="row">
					          		<div class="col-lg-6">
					          		  <h1>INGENIERíA</h1>
						              <p>Brindamos capaciatación y asistencia en diferentes aplicaciones para la industria.</p>
						               <a class="btn btn-lg btn-carousel" role="button" data-toggle="modal" data-target="#new-user">Comenzar</a>
					          		</div>
					          		<div class="col-lg-6">
					          			<div class="slide-img">
					          				<!--div class="thumbnail"-->
					          					<img src="img/ilustraciones/ingenieria-carousel.png" alt="ingenieria">
					          				<!--/div-->
					          			</div>
					          		</div>
					           </div>
				          	</div>
			          </div>
			        </div>
			        <div class="item">
			        	<img class="first-slide" src="img/slide/conferences.jpg" alt="First slide">
			          <div class="container">
			            <div class="carousel-caption">
			              <h1>INNOVACIÓN</h1>
			              <p>Soluciones a su medida</p>
			              <p>
			              	<a class="btn btn-lg btn-carousel"  data-toggle="modal" data-target="#iniciar-sesion" href="#" role="button" >Aprende más</a>
			              </p>
			            </div>
			          </div>
			        </div>
			        <div class="item">
			          <div class="container">
			            <div class="carousel-caption">
			              <h1>Productos</h1>
			              <p>
			              	<a class="btn btn-lg btn-carousel" href="#" role="button">Buscar ahora</a>
			              </p>
			            </div>
			          </div>
			        </div>
			        <p class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Anterior</span>
					</p>
					<p class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Siguiente</span>
					</p>
		      </div>
		   </div> 
			<!--end carrusel-->
		<!--/div-->
	</div>
</section>
<section>
	<div class="container info-home">
		<div>
			<div class="box-three col-md-4 col-sm-4 col-xs-12">
				<h3 class="txt-blueLigth">¿Quienes Somos?</h3>
				<p class="text-infoHome">Contamos con 25 años de experiencia en el mercado, de automatización Industrial, instalaciones eléctricas, tuberías y cableados industriales; ofreciéndole diversidad de servicios y marcas. </p>
			</div>
			<div class="box-three col-md-4 col-sm-4 col-xs-12">
				<div class="stick"></div>
				<h3 class="text-boxCenter txt-blueLigth">Clientes</h3>
				<p class="text-boxCenter text-infoHome">Algunos de nuestor clientes son:</p>

				<div class="stick"></div>
			</div>
			<div class="box-three col-md-4 col-sm-4 col-xs-12">
				<h3 class="txt-blueLigth">Contácetenos</h3>
				<p class="text-infoHome">TEL (+506)2560-3709 , (+506) 2237-9513, (+506)  2237-6589</p>
			</div>
		</div>
   </div>
</section>
<section>
	<div class="servicess-home">
		<div class="container">
		<div class="info-home">
			<h1>Servicios</h1>
			<div class="box-three col-md-4 col-sm-4 col-xs-12 txt-gray">
				<img class="hovicon effect-6" src="img/ilustraciones/servicio1.png" alt="automatización">
				<p>Automatización</p>
			</div>
			<div class="box-three col-md-4 col-sm-4 col-xs-12 txt-gray">
				<img class="hovicon effect-6" src="img/ilustraciones/servicio2.png" alt="elerctromecanica">
				<p>Elerctromecanica</p>
			</div>
			<div class="box-three col-md-4 col-sm-4 col-xs-12 txt-gray">
				<img class="hovicon effect-6" src="img/ilustraciones/servicio3.png" alt="mecatrónica">
				<p>Mecatrónica</p>
			</div>
		</div>
	</div>
   </div>
</section>