<section class="user-dashboard">
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-body">
				<section class="user-info">
					<div class="left pull-left col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<img class="profile-img" src="img/profile/profile-test.png" alt="">
					</div>
					<div class="right pull-left col-lg-9 col-md-9 col-sm-9 col-xs-12">
						<h2 class="main-title">{{currAccount.uName}}</h2>
						<h3 class="second-title">Genero</h3>
						<h3 class="second-title">Edad</h3>
					</div>
					<div class="cf"></div>
				</section>
				<section class="user-events">
					<header>
						<h2 class="main-title">My Events</h2>
					</header>
				</section>
			</div>
		</div>
	</div>   
</section>